#reg-spacer {
    height: 5vh;
    width: 100%;
}

.register-header {
    font-size: 2vh;
    font-weight: 600;
    color: #3265fc;
}

.reg-input {
    width: 40%;
    height: 2vh;
    font-size: 1.5vh;
    transition: width 0.25s;
}

.reg-input:focus {
    width: 42%;
}

.reg-button {
    font-size: 1.5vh;
    margin-top: 2vh;
    width: 20%;
    height: 3vh;
    cursor: pointer;
    color: white;
    background-color: #3265fc;
    border: 0px;
    border-radius: 10px;
    transition: width 0.25s, background-color 0.25s;
}

.reg-button:hover {
    background-color: #2149c2;
    width: 22%;
}